{
  debug
}

importmap.local.site {
  tls internal

  handle /assets/* {
    root public
    file_server
  }

  handle {
    reverse_proxy 127.0.0.1:3000
  }
}


esbuild.local.site {
  tls internal

  handle /assets/* {
    root * /Users/travis/devel/lz_tests/test_jsb_esbuild/public/
    file_server
  }

  handle {
    reverse_proxy 127.0.0.1:4000
  }
}