{
	debug
}

# domain 1
importmap.local.site {
	tls internal

	handle /assets/* {
		root * {$APP1_DIR}
		file_server
	}

	handle {
		reverse_proxy 127.0.0.1:3000
	}
}

# domain 2
esbuild.local.site {
	tls internal

	handle /assets/* {
		root * {$APP2_DIR}
		file_server
	}

	handle {
		reverse_proxy 127.0.0.1:4000
	}
}
